ion-img {
  height: 9.5rem !important;
  width: 40% !important;
  margin: auto;
}

ion-item {
  padding-top: 16px;
}

.title {
  color: red;
  font-size: 2rem;
}
.register-btn {
  border-radius: 12px;
  z-index: 5;
}
