
<ion-header>
  <ion-img class="top-image" src="./assets/kilyan-sockalingum-nW1n9eNHOsc-unsplash.jpg"></ion-img>
</ion-header>

<ion-content class="content">

  <ion-button class="button-bocao" color="dark" expand="block">
    <ion-img class="img-bocao ion-padding-end" src="./assets/Resources/008-popcorn.png" ></ion-img>
    Agrega un Bocao
  </ion-button>

  <ion-grid>
    <ion-row >
      <ion-col >
        <ion-button color="cinemap">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-img src="./assets/eiliv-sonas-aceron-iyqj9IKpQK0-unsplash.jpg"></ion-img>
      </ion-col>
      <ion-col >
          <ion-button color="cinemap" >
            <ion-icon name="add"></ion-icon>
          </ion-button>
          <ion-img src="./assets/charles-deluvio-PvAAYZx-yf8-unsplash.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list style="background-color: transparent;">
    <ion-item color="cinemap" style="margin-bottom: 15px;" *ngFor="let user of data">
      <ion-avatar>
        <ion-img src="./assets/003-tickets.png">
        </ion-img>
      </ion-avatar>
      <ion-label>
        {{ user.name }}<br/>
        {{ user.created }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
